unicms/trunk/pubs/175jahre/config/doctypes/schemas/unizh.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/1999/xhtml"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:unizh="http://unizh.ch/doctypes/elements/1.0"
         xmlns:lenya="http://apache.org/cocoon/lenya/page-envelope/1.0"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:dcterms="http://purl.org/dc/terms/"
         xmlns:xhtml="http://www.w3.org/1999/xhtml"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:bxe="http://bitfluxeditor.org/schema/2.0" 
         >

<define name="unizh.header">
  <element name="unizh:header">
    <optional>
      <ref name="unizh.colors.attrib" />
    </optional>
    <element name="unizh:heading">
      <text/>
    </element>
    <element name="unizh:superscription">
      <text/>
    </element>
  </element>
</define>


<define name="unizh.hideChildren.attrib">
  <attribute name="unizh:hideChildren">
    <choice>
      <value type="string">true</value>
      <value type="string">false</value>
    </choice>
  </attribute>
</define>


<define name="unizh.columns.attrib">
  <attribute name="unizh:columns">
    <ref name="Number.datatype"/>
  </attribute>
</define>


<define name="unizh.related-content">
  <element name="unizh:related-content">
    <optional>
      <attribute name="link">
        <text/>
      </attribute>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="unizh.teaser"/>
        <ref name="unizh.rss-reader"/>
        <ref name="unizh.map"/>
        <ref name="unizh.partner"/>
        <ref name="unizh.calendar"/>
        <ref name="unizh.level"/>
        <ref name="unizh.events"/>
      </choice>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.contcol1">
  <element name="unizh:contcol1">
    <zeroOrMore>
      <ref name="object"/>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.columns">
  <element name="unizh:column">
    <optional>
      <attribute name="double">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="unizh.teaser"/>
        <ref name="unizh.links"/>
        <ref name="unizh.rss-reader"/>
      </choice>
    </oneOrMore>
  </element>
  <element name="unizh:column">
    <oneOrMore>
      <choice>
        <ref name="unizh.teaser"/>
        <ref name="unizh.links"/>
        <ref name="unizh.rss-reader"/>
      </choice>
    </oneOrMore>
  </element>
  <optional>
    <element name="unizh:column">
      <oneOrMore>
      <choice>
        <ref name="unizh.teaser"/>
        <ref name="unizh.links"/>
        <ref name="unizh.rss-reader"/>
      </choice>
      </oneOrMore>
    </element>
  </optional>
  <optional>
    <element name="unizh:column">
      <oneOrMore>
      <choice>
        <ref name="unizh.teaser"/>
        <ref name="unizh.links"/>
        <ref name="unizh.rss-reader"/>
      </choice>
      </oneOrMore>
    </element>
  </optional>
</define>


<define name="unizh.teaser">
  <element name="unizh:teaser">
    <optional>
      <attribute name="name">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="link">
        <text/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="object"/> 
    </zeroOrMore> 
    <element name="unizh:title">
      <text/>
    </element>
    <optional>
      <ref name="teaser.p"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="lenya.asset"/>
        <ref name="a"/>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="teaser.p">
  <element name="p">
  	<bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement> 
    
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.model">
   <zeroOrMore>
    <choice>
      <text/>
      <ref name="teaser.class"/>
    </choice>
  </zeroOrMore>
</define>

<define name="teaser.class">
  <choice>
    <ref name="teaser.b"/>
    <ref name="br"/>
    <ref name="teaser.em"/>
    <ref name="teaser.cite"/>
    <ref name="teaser.strong"/> 
    <ref name="teaser.big"/>
    <ref name="teaser.i"/>
    <ref name="teaser.a"/> 
    <ref name="unizh.attention"/>
  </choice>
</define>

<define name="teaser.em">
  <element name="em">
    <ref name="em.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.cite">
  <element name="cite">
    <ref name="cite.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.strong">
  <element name="strong">
    <ref name="strong.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.b">
  <element name="b">
    <ref name="b.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.big">
  <element name="big">
    <ref name="big.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.i">
  <element name="i">
    <ref name="i.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>

<define name="teaser.a">
  <element name="a">
    <bxe:onnew type="popup">?lenya.usecase=bxeng&amp;lenya.step=link-show</bxe:onnew>
    <ref name="a.attlist"/>
    <ref name="teaser.model"/>
  </element>
</define>


<define name="unizh.highlight">
  <element name="unizh:highlight">
    <ref name="unizh.colors.attrib" />
    <optional>
      <element name="unizh:title">
        <text/>
        <attribute name="href">
          <text/>
        </attribute>
      </element>
    </optional>
    <optional>
      <element name="p">
      <bxe:nextelement ns="http://www.w3.org/1999/xhtml">p</bxe:nextelement> 
        <oneOrMore>
          <choice>
            <text />
            <ref name="br"/>
          </choice>
        </oneOrMore>
      </element>
    </optional>
    <optional>
      <ref name="object"/> 
    </optional>
  </element>
</define>


<define name="unizh.colors.attrib">
  <attribute name="class">
    <choice>
      <value type="string">moccachino</value>
      <value type="string">red</value>
      <value type="string">pumpkin</value>
      <value type="string">sunshine</value>
      <value type="string">emerald</value>
      <value type="string">cyan</value>
      <value type="string">marine</value>
      <value type="string">amethyst</value>
      <value type="string">magenta</value>
      <value type="string">lime</value>
    </choice>
  </attribute>
</define>


<define name="unizh.partner">
  <element name="unizh:partner">
    <optional>
      <element name="unizh:title">
        <text/>
      </element>
    </optional>
    <zeroOrMore>
      <ref name="object"/>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.calendar">
  <element name="unizh:calendar">
    <element name="unizh:title">
      <text/>
    </element>
    <zeroOrMore>
      <element name="unizh:row">
        <optional>
          <attribute name="label">
            <text/>
          </attribute>
        </optional>
        <oneOrMore>
          <choice>
            <text />
            <ref name="br"/>
          </choice>
        </oneOrMore>
      </element>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.toc">
  <element name="unizh:toc"><empty/></element>
</define>


<define name="unizh.toplink">
  <element name="unizh:toplink"><empty/></element>
</define>


<define name="unizh.sitemap">
  <element name="unizh:sitemap"><empty/></element>
</define>


<define name="unizh.children">
  <element name="unizh:children">
    <optional>
      <attribute name="abstracts">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
  </element>
</define>


<define name="unizh.level">
  <element name="unizh:level">
    <empty/>
  </element>
</define>


<define name="unizh.rss-reader">
  <element name="unizh:rss-reader">
    <optional>
      <attribute name="url">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="items">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="image">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="link">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemDescription">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemImage">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemPubdate">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <element name="unizh:title">
        <text/>
      </element>
    </optional>
    <text/>
  </element>
</define>


<define name="unizh.attention">
  <element name="unizh:attention">
    <ref name="Inline.model"/>
  </element>
</define>


<define name="unizh.links">
  <element name="unizh:links">
    <element name="unizh:title">
      <optional>
        <ref name="unizh.colors.attrib" />
      </optional>
      <optional>
        <attribute name="href">
          <text/>
        </attribute>
      </optional>
      <text/>
    </element>
    <optional>
      <ref name="object"/>
    </optional>
    <optional>
      <ref name="teaser.p"/>
    </optional>
    <zeroOrMore>
      <ref name="a"/>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.map">
  <element name="unizh:map">
    <attribute name="lat">
      <ref name="Number.datatype"/>
    </attribute>
    <attribute name="lng">
      <ref name="Number.datatype"/>
    </attribute>
    <attribute name="scale">
      <ref name="Number.datatype"/>
    </attribute>
    <optional>
      <attribute name="key">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <choice>
          <value type="string">normal</value>
          <value type="string">hybrid</value>
          <value type="string">satellite</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="numbered">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="unizh.marker"/>
    </zeroOrMore>
  </element>
</define>


<define name="unizh.marker">
  <element name="unizh:marker">
    <attribute name="lat">
      <ref name="Number.datatype"/>
    </attribute>
    <attribute name="lng">
      <ref name="Number.datatype"/>
    </attribute>
    <ref name="teaser.model"/>
  </element>
</define>


<define name="unizh.lead">
  <element name="unizh:lead">
    <optional>
      <ref name="object" />
    </optional>
    <optional>
      <ref name="teaser.p" />
    </optional>
  </element>
</define>


<define name="unizh.events">
  <element name="unizh:events">
    <optional>
      <attribute name="items">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="image">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="link">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemDescription">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemImage">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="itemPubdate">
        <choice>
          <value type="string">true</value>
          <value type="string">false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <element name="unizh:title">
        <text/>
      </element>
    </optional>
  </element>
</define>


</grammar>
