unicms/trunk/modules/learning/elml/config/doctypes/schemas/elml/common.rng

<?xml version="1.0" encoding="UTF-8"?>

<!--+
    | UniZH XHTML doctype
    +-->

<grammar ns="http://www.elml.ch"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:elml="http://www.elml.ch"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:lenya="http://apache.org/cocoon/lenya/page-envelope/1.0"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:dcterms="http://purl.org/dc/terms/"
         xmlns:xhtml="http://www.w3.org/1999/xhtml"
         >


  <define name="vAlignmentImp">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="CSSClassImp">
    <optional>
      <attribute name="cssClass">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="entry">
    <element name="entry">
      <ref name="CLIIType"/>
    </element>
  </define>

  <define name="goals">
    <element name="goals">
      <ref name="IntStatementImp"/>
      <ref name="PresentationImp"/>
      <oneOrMore>
        <ref name="lObjective"/>
      </oneOrMore>
    </element>
  </define>

  <define name="lObjective">
    <element name="lObjective">
      <ref name="RoleImp"/>
      <text/>
    </element>
  </define>

  <define name="selfAssessment">
    <element name="selfAssessment">
      <ref name="SIIType"/>
    </element>
  </define>

 <define name="furtherReading">
    <element name="furtherReading">
      <ref name="SortingImp"/>
      <oneOrMore>
        <ref name="resItem"/>
      </oneOrMore>
    </element>
  </define>

  <define name="summary">
    <element name="summary">
      <ref name="CLIIType"/>
    </element>
  </define>

  <define name="resItem">
    <element name="resItem">
      <ref name="BibIDRefReq"/>
      <text/>
    </element>
  </define>

 <define name="column">
    <element name="column">
      <ref name="LabelImp"/>
      <ref name="CSSClassImp"/>
      <ref name="columnLeft"/>
      <optional>
        <ref name="columnMiddle"/>
      </optional>
      <ref name="columnRight"/>
    </element>
  </define>

  <define name="columnLeft">
    <element name="columnLeft">
      <ref name="ColumnType"/>
    </element>
  </define>

  <define name="columnMiddle">
    <element name="columnMiddle">
      <ref name="ColumnType"/>
    </element>
  </define>

  <define name="columnRight">
    <element name="columnRight">
      <ref name="ColumnType"/>
    </element>
  </define>

  <define name="table">
    <element name="table">
      <ref name="LabelImp"/>
      <ref name="TitleImp"/>
      <ref name="IconImp"/>
      <ref name="SizeImp"/>
      <ref name="LegendImp"/>
      <ref name="BibIDRefImp"/>
      <ref name="RoleImp"/>
      <ref name="VisibleImp"/>
      <ref name="CSSClassImp"/>
      <oneOrMore>
        <ref name="tablerow"/>
      </oneOrMore>
    </element>
  </define>

  <define name="tablerow">
    <element name="tablerow">
      <oneOrMore>
        <choice>
          <element name="tabledata">
            <ref name="TableCellType"/>
          </element>
          <element name="tableheading">
            <ref name="TableCellType"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="list">
    <element name="list">
      <ref name="LabelImp"/>
      <ref name="TitleImp"/>
      <ref name="IconImp"/>
      <ref name="ListStyleImp"/>
      <ref name="BibIDRefImp"/>
      <ref name="CSSClassImp"/>
      <oneOrMore>
        <ref name="listItem"/>
      </oneOrMore>    
    </element>
  </define>

  <define name="listItem">
    <element name="item">
      <ref name="CSSClassImp"/>
      <zeroOrMore>
        <choice>
          <ref name="list"/>
          <ref name="term"/>
          <ref name="multimedia"/>
          <ref name="formatted"/>
          <ref name="link"/>
          <ref name="citation"/>
          <ref name="newLine"/>
          <ref name="paragraph"/>
          <ref name="indexItem"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="box">
    <element name="box">
      <ref name="ParaType"/>
    </element>
  </define>

  <define name="term"> 
    <element name="term">
      <ref name="GlossaryRefReq"/>
      <ref name="IconImp"/>
      <ref name="CSSClassImp"/>
      <text/> 
    </element>
  </define>

  <define name="indexItem">
    <element name="indexItem">
      <ref name="IndexAttImp"/>
      <ref name="CSSClassImp"/>
      <zeroOrMore>
        <choice>
          <ref name="term"/>
          <ref name="formatted"/>
          <ref name="newLine"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define> 


 <define name="multimedia">
    <element name="multimedia">
      <ref name="LabelImp"/>
      <ref name="IconImp"/>
      <ref name="SourceImp"/>
      <ref name="TypeReq"/>
      <ref name="AlignmentImp"/>
      <ref name="SizeImp"/>
      <ref name="LegendImp"/>
      <ref name="BibIDRefImp"/>
      <ref name="Thumbnail"/>
      <ref name="HTMLAttributesImp"/>
      <ref name="VisibleImp"/>
      <ref name="CSSClassImp"/>
      <optional>
        <text/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="anyElement"/>
          <text/>
        </choice>
      </zeroOrMore> 
    </element>
  </define>

  <define name="formatted">
    <element name="formatted">
      <ref name="StyleReq"/>
      <ref name="CSSClassImp"/>
      <zeroOrMore>
        <choice>
          <ref name="formatted"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="popup">
    <element name="popup">
      <ref name="ParaType"/>
    </element>
  </define>

  <define name="link">
    <element name="link">
      <ref name="UriImp"/>
      <ref name="LegendImp"/>
      <ref name="IconImp"/>
      <ref name="RoleImp"/>
      <ref name="CSSClassImp"/>
      <choice>
        <optional>
          <ref name="multimedia"/>
        </optional>
        <text/>
      </choice>
    </element>
  </define>

  <define name="citation">
    <element name="citation">
      <ref name="BibIDRefReq"/>
      <ref name="BibPageNr"/>
      <ref name="IconImp"/>
      <ref name="YearOnlyImp"/>
      <ref name="CSSClassImp"/>
      <zeroOrMore>
        <choice>
          <ref name="term"/>
          <ref name="formatted"/>
          <ref name="newLine"/>
          <ref name="indexItem"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="newLine">
    <element name="newLine">
      <ref name="NewLineImp"/>
      <empty/>
    </element>
  </define>

  <define name="paragraph">
    <element name="paragraph">
      <ref name="LabelImp"/>
      <ref name="RoleImp"/>
      <ref name="TitleImp"/>
      <ref name="IconImp"/>
      <ref name="VisibleImp"/>
      <ref name="CSSClassImp"/>
      <zeroOrMore>
        <choice>
          <ref name="term"/>
          <ref name="multimedia"/>
          <ref name="formatted"/>
          <ref name="link"/>
          <ref name="citation"/>
          <ref name="newLine"/>
          <ref name="indexItem"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="toc">
    <element name="toc">
      <attribute name="scope">
        <choice>
          <value>lessons</value>
          <value>lesson</value>
          <value>unit</value>
        </choice>
      </attribute>
      <attribute name="recurse">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute> 
    </element>
  </define>


  <define name="annotation">
    <element name="annotation">
      <zeroOrMore>
        <choice>
          <ref name="toc"/>
          <ref name="column"/>
          <ref name="table"/>
          <ref name="list"/>
          <ref name="term"/>
          <ref name="multimedia"/>
          <ref name="formatted"/>
          <ref name="link"/>
          <ref name="citation"/>
          <ref name="newLine"/>
          <ref name="paragraph"/>
          <ref name="indexItem"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>



  <!-- Type definitions -->


  <define name="CLType">
    <ref name="LabelImp"/>
    <ref name="TitleImp"/>
    <zeroOrMore>
      <choice>
        <ref name="toc"/>
        <ref name="column"/>
        <ref name="table"/>
        <ref name="list"/>
        <ref name="box"/>
        <ref name="term"/>
        <ref name="multimedia"/>
        <ref name="popup"/>
        <ref name="link"/>
        <ref name="citation"/>
        <ref name="paragraph"/>
        <ref name="annotation"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="CLIIType">
    <ref name="LabelImp"/>
    <ref name="TitleImp"/>
    <ref name="NavTitleImp"/> 
    <zeroOrMore>
      <choice>
        <ref name="toc"/>
        <ref name="column"/>
        <ref name="table"/>
        <ref name="list"/>
        <ref name="box"/>
        <ref name="term"/>
        <ref name="multimedia"/>
        <ref name="popup"/>
        <ref name="link"/>
        <ref name="citation"/>
        <ref name="paragraph"/>
        <ref name="annotation"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="SType">
    <ref name="MetaSetUpInfoReq"/>
    <ref name="CLType"/>
  </define>

  <define name="SIIType">
    <ref name="NavTitleImp"/>
    <ref name="SType"/>
  </define>

  <define name="ColumnType">
    <ref name="SizeImp"/>
    <ref name="AlignmentImp"/>
    <ref name="vAlignmentImp"/>
    <ref name="CSSClassImp"/>
    <zeroOrMore>
      <choice>
        <ref name="toc"/>
        <ref name="table"/>
        <ref name="list"/>
        <ref name="box"/>
        <ref name="term"/>
        <ref name="multimedia"/>
        <ref name="formatted"/>
        <ref name="popup"/>
        <ref name="link"/>
        <ref name="citation"/>
        <ref name="newLine"/>
        <ref name="paragraph"/>
        <ref name="indexItem"/>
        <text/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="TableCellType">
    <ref name="LabelImp"/>
    <ref name="SizeImp"/>
    <ref name="SpanImp"/>
    <ref name="AlignmentImp"/>
    <ref name="vAlignmentImp"/>
    <ref name="CSSClassImp"/>
    <zeroOrMore>
      <choice>
        <ref name="toc"/>
        <ref name="list"/>
        <ref name="term"/>
        <ref name="multimedia"/>
        <ref name="formatted"/>
        <ref name="link"/>
        <ref name="citation"/>
        <ref name="popup"/>
        <ref name="box"/>
        <ref name="newLine"/>
        <ref name="paragraph"/>
        <ref name="indexItem"/>
        <text/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="ParaType">
    <ref name="LabelImp"/>
    <ref name="TitleImp"/>
    <ref name="IconImp"/>
    <ref name="CSSClassImp"/>
    <zeroOrMore>
      <choice>
        <ref name="toc"/>
        <ref name="column"/>
        <ref name="table"/>
        <ref name="list"/>
        <ref name="term"/>
        <ref name="multimedia"/>
        <ref name="formatted"/>
        <ref name="link"/>
        <ref name="citation"/>
        <ref name="newLine"/>
        <ref name="paragraph"/>
        <ref name="indexItem"/>
        <ref name="annotation"/>
        <text/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="mdType">
    <ref name="RoleImp"/>
  </define>

  <!-- Attributes -->


 <define name="LabelReq">
    <attribute name="label">
      <text/>
    </attribute>
  </define>

  <define name="LabelImp">
    <optional>
      <attribute name="label">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="TitleReq">
    <attribute name="title">
      <text/>
    </attribute>
  </define>

  <define name="TitleImp">
    <optional>
      <attribute name="title">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="NavTitleImp">
    <optional>
      <attribute name="navTitle">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="IntStatementImp">
    <optional>
      <attribute name="intStatement">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="PresentationImp">
     <optional>
      <attribute name="presentation">
        <choice>
          <value>list</value>
          <value>table</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="LegendImp">
    <optional>
      <attribute name="legend">
        <text/>
      </attribute>
    </optional>
  </define> 

  <define name="RoleImp">
    <optional>
      <attribute name="role">
        <choice>
          <value>tutor</value>
          <value>student</value>
        </choice>
      </attribute>
    </optional>
  </define> 

  <define name="UriImp">
    <optional>
      <attribute name="uri">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="targetLesson">
        <text/> <!-- PredefinedLabels -->
      </attribute>
    </optional>
    <optional>
      <attribute name="targetLabel">
        <text/><!-- LabelType -->
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <text/>
      </attribute>
    </optional>
    <optional>
      <attribute name="target">
        <choice> 
          <value>_blank</value>
          <value>_top</value>
        </choice>
      </attribute>
    </optional>
  </define> 

  <define name="NewLineImp">
    <optional>
      <attribute name="space">
        <choice>
          <value>short</value>
          <value>long</value>
        </choice>
      </attribute>
    </optional>
  </define> 

  <define name="TypeReq">
    <attribute name="type">
      <choice>
        <value>gif</value>
        <value>jpeg</value>
        <value>png</value>
        <value>flash</value>
        <value>svg</value>
        <value>quicktime</value>
        <value>mpeg</value>
        <value>applet</value>
        <value>vrml</value>
        <value>x3d</value>
        <value>realone</value>
        <value>mathml</value>
        <value>div</value>
      </choice>
    </attribute>
  </define>

  <define name="VisibleImp">
    <optional>
      <attribute name="visible">
        <choice>
          <value>all</value>
          <value>online</value>
          <value>print</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="HTMLAttributesImp">
    <optional>
      <attribute name="HTMLAttributes">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="Thumbnail">
    <optional>
      <attribute name="thumbnail">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="SourceImp">
    <optional>
      <attribute name="src">
        <text/>
      </attribute>
    </optional>
  </define>

  <define name="AlignmentImp">
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="GlossaryRefReq">
    <attribute name="glossRef">
      <text/><!-- Querreferenz -->
    </attribute>
  </define>

  <define name="GlossaryReq">
    <attribute name="term">
      <text/>
    </attribute>
  </define>

  <define name="SizeImp">
    <optional>
      <attribute name="width">
        <text/><!-- int -->
      </attribute>
    </optional>
    <optional>
      <attribute name="height">
        <text/><!-- int -->
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <choice>
          <value>pixels</value>
          <value>percent</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="SpanImp">
    <optional>
      <attribute name="rowspan">
        <text/><!-- int -->
      </attribute>
    </optional>
    <optional>
      <attribute name="colspan">
        <text/><!-- int -->
      </attribute>
    </optional>
  </define>

  <define name="ListStyleImp">
    <optional>
      <attribute name="listStyle">
        <choice>
          <value>ordered</value>
          <value>unordered</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="MetaSetUpInfoReq">
    <attribute name="metaSetUpInfo">
      <text/>
    </attribute>
  </define>

  <define name="StyleReq">
    <attribute name="style">
      <choice> 
        <value>bold</value>
        <value>italic</value>
        <value>underlined</value>
        <value>crossedOut</value>
        <value>upperCase</value>
        <value>lowerCase</value>
        <value>subscript</value>
        <value>superscript</value>
        <value>code</value>
      </choice>
    </attribute>
  </define>

  <define name="YearOnlyImp">
    <optional>
      <attribute name="yearOnly">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="IndexAttImp">
    <optional>
      <attribute name="mainEntry">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="affiliatedTo">
        <text/><!-- String -->
      </attribute>
    </optional>
  </define>

  <define name="SchemaLocation">
    <optional>
      <attribute name="xsi:schemaLocation">
        <text/>
      </attribute>
    </optional>
  </define>



</grammar>
